*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.image{
    text-align: center;
}
svg{
    height: 85vh;
    width: 100%;
}

#brush{
    animation: move 1.5s linear;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes move {
    0%{
        transform: rotateZ(0deg);
    }
    40%{
        transform: rotateZ(-18deg);
    }
    80%{
        transform: rotateZ(0deg);
    }
}

#plate{
    animation: palatte 2s linear;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes palatte {
    0%{
        transform: rotateX(0deg);
    }
    40%{
        transform: rotateX(58deg);
    }
    80%{
        transform: rotateX(0deg);
    }
}

