.toggle-button {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:25px;
    width:36px;
    background:transparent;
    border:none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

}

.toggle-button:focus{
    outline:none;
}

.toggle-button__line{
    width:30px;
    height: 2.2px;
    background:pink;
}

