.home{
    background-size: cover;
    background-color: black;
    font-family: 'Spinnaker', sans-serif;
    width: 100%;
    position: absolute;
}

.outer-box{
    
    padding: 40px 140px 80px 140px;  
}

.col{
    
   height : 460px;
   width: 460px;  
}

.Image{
    border : none;
    height : 500px;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.topic{
    
    color: white;
    font-size: 35px;
    padding: 60px 20px 20px 20px;
    font-weight: 400;
    text-align: center;
}   

.intro{
    padding-top: 90px;
    text-align: left;
    color: lightgray;
}

.icons{
    display: flex;
    justify-content: center;
    
}

.icon{
    margin: 30px;
    height:30px;
    width: 30px;
}
.para{
    font-size: 17px;
    font-weight: medium;
    color: #afb77e;
}

.Heading{
    font-family: 'Spinnaker', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
}

.subHeading{
    font-size: 22px;
    color: lightgray;
    font-weight: medium;
}
.About-Me{
    text-align: center;
}

.chat{
    text-align: center;
    font-size: 20px;
    font-weight: medium;
    color:white;
}
.fab{
    font-size: 36px;
    color: white;
}

.column{
    float: left;
    width: 50%;
  }
.row2{
    justify-content: space-around;
  }

.PImage{
    margin: 50px; 
}
.sayHi{
    font-weight: bold;
    font-size: 30px ;
    text-align: center;
}
.right{
    padding-left: 300px;
}
.left {
    padding-left: 10px;
}

.row2 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.row2 figure:hover img {
	opacity: .5;
}


@media screen and (max-width: 480px) {
    /* styling for mobile browrser and smaller */
    .home{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .outer-box{
        width: 100%;
        padding : 40px;
    }
    .Image{
        align-self: center;
        width: 300px;
        height:300px;
    }
    .col{
        width: 380px;
        height: 360px;
    }
    .intro{
        padding-top: 0;
    }
    .Heading{
        font-size: 34px;
    }
    .subHeading{
        font-size: 23px;
    }
    .para{
        font-size: 16px;
    }
    .topic{
        padding-top: 100px;
    }
    .icon{
        width: 5px;
    }
    .fab{
       font-size: 36px; 
       color: white;
    }
    .description{
        padding: 50px;
    }
    .chat{
        padding: 20px;
        font-size: 20px;
    }
    .space{
        padding : 30px;
    }
    .column{
        float:none;
        display: inline;
        margin: 0px;
        align-items: center;
    }
    .sayHi{
        font-size: 25px;
        padding-top: 100px;
    }
    .right{
       align-self: center;
       display:contents;
    }
    .left{
        align-self: center;
       display:contents;
    }
}



