.home{
    background-size: cover;
    background-color:  black;
    height: 570px;
    font-family: 'Sahitya', serif;
}

.Image{
    background: no-repeat center center;
    height : 500px;
    width: 100%;
    padding: 30px 60px 0px 120px;
}

.Hometext{
    text-align: center;
    font-weight: bolder;
    position: relative;
    color: white;
}

.All_Icons{
    top: 25%;
    left: 3%;
    cursor: pointer;
    position : absolute;
}

.All_Icons li a{
    background-color: white;
}
.All_Icons ul li{
    padding: 5px;
    padding-top: 15px;
    color: aliceblue;
    border-radius: 20px;
}

.icon{  
    color: aliceblue;
    line-height: 2px;
    padding: 0px;
    width:30px;
    height:30px;
    display: block;
    transition-property: color;
    transition: all .3s linear;  
}


.icon:hover{
    width:40px;
    height:40px;
    color: blue;
}

.text{  
   
    position: absolute;
    top: 90%;
    left: 50%;
    transition-property: color;
    transition: 1s linear;
    transform: translate(-50%, -50%);
}

.name{
    font-size: 80px;
    cursor : pointer;
}

.text:hover{
    color:black;    
}

.text2{
    padding-top: 17px;
    font-weight: larger;
    color: white;
    opacity: 80%;
}

.footer{
    background-color: rgb(105,105,105);
    opacity: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    color: aliceblue;
    text-align: center;
    font-family: 'Sahitya', serif;
    letter-spacing: 1px;
}


/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
   .icon{
       height: auto;
   }
}

 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (max-width: 792px) {
    .name{
        font-size: 40px;
    }
    .text{
        top:90%;
    }
    .text2{
        color: white;
        padding-top: 80px;
    }
    .Image{
        padding: 0px;
    }
    .All_Icons ul li{
        color:black;
    }
} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {

}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {

}*/
