.home{
    background-size: cover;
    background-color: black;
    font-family: 'Sahitya', serif;
    width: 100%;
    position: absolute;
}

.outer-box{
    padding: 80px 140px 80px 140px;  
}

.col{
   height : 460px;
   width: 460px;  
}

.Image{
    border-radius : 50%;
    border : none;
    height : 400px;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.intro{
    padding-top: 90px;
    text-align: left;
    color: indigo;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

.icon{
    margin-right: 30px;
    height:45px;
    width: 45px;
}

.description{
    padding: 40px;
    font-size : 20px;
    color: pink;
    font-weight: medium;
}

.Heading{
    font-weight: 1000;
    font-size: 80px;
    color: white;
}

.subHeading{
    font-size: 40px;
    color: indigo;
    font-weight: bolder;
}
.About-Me{
    text-align: center;
}

/* 
.color-animation1{
    animation : color 1s infinite;  
}

@keyframes color{
    0%{
        color: yellow;
    }
    50%{
        color: blue;
    }
    100%{
        color: yellow;
    }
}

.color-animation2{
    animation : color2 1s infinite;  
}

@keyframes color2{
    0%{
        color: blue;
    }
    50%{
        color: yellow;
    }
    100%{
        color: blue;
    }
} */


@media screen and (max-width: 480px) {
    /* styling for mobile browrser and smaller */
    .outer-box{
        width: 100%;
        padding : 40px;
    }
    .Image{
        align-self: center;
        width: 300px;
        height:300px;
    }
    .col{
        width: 380px;
        height: 360px;
    }
    .Heading{
        font-size: 40px;
    }
    .subHeading{
        font-size: 30px;
    }
    .icons{
        padding-left: 100px;
        text-shadow: 2px 2px white;
        
        
    }
    .description{
        padding: 50px;
    }
    .About-Me{
        padding: 40px;
    }
}



