.bar {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    height:56px;
    z-index:10;
    font-family: 'Verdana', serif;
}



.bar__navigation{
    display: flex;
    height: 100%;
    align-items:center;
    padding:4rem 3rem;
}

.spacer{
    flex:1;
}

.bar_navigation-items a{
    color:white;
    text-decoration: none;
}

.bar_navigation-items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

.bar_navigation-items li{
    padding:0 1.5rem;
}


.link{
    font-size: 24px;
    transition: all ease;
}

.link:hover{
    text-decoration: none;
    color: #afb77e;
    border-bottom: 1px solid #afb77e;
    background-color: rgba(0, 0, 0, 0) !important;
}


.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    color:#afb77e;
}

@media (max-width:768px){
    .bar_navigation-items{
        display:none;
    }
}

@media (min-width:769px){
    .toolbar__toggle-button{
        display:none;
    }
}
 
.brand-logo {
    left: 5%;   
}

@media (min-width: 569px) {
    .brand-logo{
        right: 20%;
    }
}