.nav-wrapper{
    font-family: 'Sahitya', serif;
    background-repeat: repeat;
    background-color: #181818;
    background-size: 300px 65px;
    padding-right: 2%;
    position: relative;  
}

.link{
    font-size: 22px;
    transition: all ease;
}
.navbar-toggler{
    color: blue;
}
.icon{
    cursor: pointer;
    color: blue;
}
 
.link:hover{
    text-decoration: none;
    color :  pink;
    border-bottom: 1px solid pink;
    background-color: rgba(0, 0, 0, 0) !important;
}

.color{
    color:white;
}
