.footer{
    background-color: rgb(105,105,105);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
    color: aliceblue;
    text-align: center;
    font-family: 'Sahitya', serif;
    letter-spacing: 1px;
}


@media screen and (max-width: 480px){
    /* styling for mobile browrser and smaller */
    .footer{
        font-size: small;
    }
}
