body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    font-family: 'Sahitya', serif;
}

.contact-title{
    margin-top: 100px;
    color: aliceblue;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2{
    font-size: 16px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline : none;
    border-bottom:  1px solid gray;
    color : white;
    font-size: 18px;
    margin-bottom: 16px;

}

input{
    height : 45px;
}

form .submit{
    background-color: aqua;
    border-color: transparent;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

fommr .submit:hover{
    background-color: blueviolet;
}