body{
    background-color: black;

}

.topic{
    font-family: 'Sahitya', serif;
    color: white;
    font-size: 35px;
    padding: 50px;
}   

.Interest-topic{
   text-align: center;
}

.content{
    font-size: 25px;
    padding-left: 30px;
}

.row{
    justify-content: space-evenly;
}



.interest-img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.img-div{
    position:relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .img-div:hover .overlay {
    opacity: .6;
  } 

  .text {
    font-family: 'Sahitya', serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: red;
    font-size: 20px;
    text-align: center;
    padding-top: 40%;
    padding-left: 10px;
    padding-right: 10px;
}
  
/* 
.fade2::after{
    padding: 10px;
    content: 'Hey';
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;  
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition : opacity 0.5s ease;
}

.fade2:hover::after{
    opacity: .5;
    cursor: pointer;
} */

