body{
    background-color: black;

}

.topic{
    font-family: 'Sahitya', serif;
    color: white;
    font-size: 35px;
    padding: 50px;
}   

.Interest-topic{
   text-align: center;
}

.content{
    font-size: 25px;
    padding-left: 30px;
}

.row{
    justify-content: space-evenly;
}


.interest-img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.img-div{
    position:relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .img-div:hover .overlay {
    opacity: .8;
  } 

  .text {
    font-family: 'Sahitya', serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 35%;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 480px) {
    /* styling for mobile browrser and smaller */
    .content{
        font-size: 18px;
    }
}
